body{
    background: cadetblue;

}
/*Tutaj znajduje się kontener główny zawierający Wszystkie Elementy składające się na asystenta*/
.mainKontener {
    background: #ffff;
    bottom:0;
    right:0;
    position: fixed;
    width: 280px;
    height: 38px;
    visibility: visible;
 
}
/*Tutaj znajduje się kontener główny zawierający Wszystkie Elementy składające się na asystenta*/

/*Tutaj znajduje się kontener Zawierający Przyciski: rozwiń , Zdjęcie Asystenta i przycisk Rozmowy*/
.kontener{
    display: flex;
}

.kontener button{
    flex: 1 1 0;
    height: 38px;
    background:lightblue;
    color: white;

}
/*Tutaj znajduje się kontener Zawierający Przyciski: rozwiń , Zdjęcie Asystenta i przycisk Rozmowy*/



::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}


.KontenerNaWiadomosci{
    position: relative;
    width: 100%;
    align-items: center;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
    background: chartreuse;
    word-wrap: break-word;
    

    
}
.OdpowiedzBota{
    position: absolute;
    left:0;
    width: 50%;
    line-height: 20px


}
.OdpowiedzUz{
    right:0;
    width: 50%;
    position: absolute;
    line-height: 20px
}




.PrzyciskWyslij{
    
    flex:1;
    bottom:0;
    
}
#TekstWpisywany{

    flex:3;
    bottom:0;

}

.KontenerNaTekst {
    position: relative;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: black;
    display: flex;
    

}




@keyframes animacja {
    from{

        height: 38px;
    }
    to{
        height: 327px;
    }
}
@keyframes animacja2 {
    
    from{

        height: 327px;
    }
    to{
        height: 38px;
        
    }
}

