body{
    background: cadetblue;

}
/*OTOCZKA STRONY    */
.otoczkaStrony{
    background: #34a8eb;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7%;
    
 

}
.otoczkaPrzyciski{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


#PrzyciskOt{
    background: transparent;

    height: 100%;
    font-size:medium;
    text-align: left;
    width: 100%;
}


/*OTOCZKA STRONY    */

#przyciskRozwijania{
    background-color:#6274bc ;
    background: #6274bc;
    color: #6274bc;
}
/*Tutaj znajduje się kontener główny zawierający Wszystkie Elementy składające się na asystenta*/
.mainKontener {
    background:#6274bc;
    bottom:0;
    right:0;
    position: fixed;
    width: 14%;
    height: 4%;
    visibility: visible;
 
}


/*Tutaj znajduje się kontener główny zawierający Wszystkie Elementy składające się na asystenta*/

/*Tutaj znajduje się kontener Zawierający Przyciski: rozwiń , Zdjęcie Asystenta i przycisk Rozmowy*/
.kontener{
    display: flex;
}

.kontener input{
    flex: 1 1 0;
    height: 38px;
    background:lightblue;
    color: white;
    cursor: pointer;

}
/*Tutaj znajduje się kontener Zawierający Przyciski: rozwiń , Zdjęcie Asystenta i przycisk Rozmowy*/

.PierwszaWiad{
    width: 100%;
    
    font-family:  sans-serif;
    font-weight: normal;
    align-items: center;


}
.PierwszaWiad span{

line-height: 1.5em;
    display: inline-block;
    background:lightblue;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
    margin-left: 10px;

}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}


.KontenerNaWiadomosci{
    
    
    position: relative;
    width: 100%;
    align-items: center;
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
    background: lightcyan;
    word-wrap: break-word;
    
    

    
}


.OdpowiedzUz{
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;

}
.OdpowiedzUz span{
    line-height: 1.5em;
    display: inline-block;
    background:lightskyblue;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: animacjaWiadomosci .5s forwards
    

}
.OdpowiedzBota{
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    clear: both;
    

}
.OdpowiedzBota span{
    line-height: 1.5em;
    display: inline-block;
    background:lightblue;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: animacjaWiadomosci .5s forwards
    

}





.PrzyciskWyslij{
    
    flex:1;
    bottom:0;
    
}
#TekstWpisywany{

    flex:3;
    bottom:0;

}

.KontenerNaTekst {
    position: relative;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: black;
    display: flex;
    

}



@keyframes animacjaWiadomosci {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes animacja {
    from{

        height: 4%
    }
    to{
        height: 40%;
    }
}
@keyframes animacja2 {
    
    from{

        height: 40%;
    }
    to{
        height: 4%;
        
    }
}











